<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog App</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" href="https://img.icons8.com/?size=100&id=UXHFRv945p6v&format=png&color=000000" type="image/x-icon">
</head>
<body>
    <div class="w-full h-full bg-zinc-900 text-white p-10 font-sans">
        
        <h1 class="text-center text-3xl font-bold">Blog <span class="text-amber-200">App</span></h1>
        <h2 class="text-center text-xl m-20">Welcome to Blog App</h2>

        <a class="m-5 flex justify-center gap-10 text-blue-500" href="/posts">Posts</a>
        <a class="m-5 flex justify-center gap-10 text-blue-500" href="/users">Users</a>
        <a class="m-5 flex justify-center gap-10 text-blue-500" href="/login">Login</a>
        <a class="m-5 flex justify-center gap-10 text-blue-500" href="/register">Register</a>
        
    </div>
</body>
</html>